* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

a {

  &:hover {
    text-decoration: none;
  }
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
